#main-links > a{
  margin: 10px;
  color: white;
}

body {
  background-color: rgb(22, 21, 21)
}

*{
  color: white;
  text-decoration: none;
}

#home-container {
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  margin-top: 50px;
}

.user {
  width: 150px;
  height: 150px;
  justify-items: center;
  align-items: center;
  display: grid;
  border-radius: 15px;
  font-size: 25px;
}

.watch {
 display: grid;
 justify-items: center;
 margin-top: 30px;
 font-size: 25px;
}

#ref {
  text-align: right;
  margin-right: 90px;
  
}

input {
  background-color: black;
  border: none;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.images{
  display: grid;
  border-radius: 15px;
  font-size: 25px;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;

}
img {
  width: 250px;
  height: 250px;
}
/* .images .btn {
  position: absolute;
} */

.rentedMovies {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
}

.movieDetails {
  margin-top: 10px;
  grid-gap: 15px;
  display: grid;
  grid-template-rows: auto auto auto;
  justify-items: center;
  align-items: center;
}